<html>
<head>
    <meta charset="UTF-8">
    <title>Laudo Dosimagem</title>
    <style>
        footer, #top {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="top">
        <img src="./template/img/topo.png" width="400">
    </div>
    <div>
        <h2>1) Dados do Relatório</h2>
        <p>Nome do paciente: {{paciente}}</p>
        <p>Isotopo: {{isotopo}}</p>
    </div>
    <div>
        <h2>2) Histograma dose volume</h2>
        <div id="top">
            <img src="{{dvh}}" width="400">
        </div>
    </div>
    <div>
        <h2>3) Tabela de dose medias por tecidos</h2>
        <br>
        <table style="text-align:center">
            <thead>
                <tr>
                    <th style="text-align:left" scope="col">Tecido</th>
                    <th style="text-align:right" width=100 scope="col">Dose (Gy)</th>
                    <th style="text-align:right" width=100 scope="col">Massa (Kg)</th>
                </tr>
            </thead>
            <tbody>
                {% for tecido, valores in tabela.items() %}
                <tr>
                    <td scope="row">{{tecido}}</td>
                    <td style="text-align:right">{{valores.dose}}</td>
                    <td style="text-align:right">{{valores.mass}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <footer>
        <img src="./template/img/footer.png" width="500">
    </footer>
</body>
</html>