@page {
    size: A4;
    margin: .5cm;

}

header img{
    margin-left: auto;
    margin-right: auto;
    max-height: 50%;
    max-width: 100%;
}


footer img{
    bottom: 0;
    position: fixed;
    max-height: 100%;
    max-width: 100%;
}


#dvh img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

table#info{
    margin-left: auto;
    margin-right: auto;
}

table#info th{
    text-align:center;
    width: 180px;
}

table#info td{
    text-align:center;
    width: 100px;
}

table#medias{
    margin-left: auto;
    margin-right: auto;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
}

table#medias th{
    text-align:center;
    width: 150px;
}

table#medias td, table#medias th {
    text-align:center;
    border-left:solid black 1px;
    border-top:solid black 1px;
}

table#medias th{
    background-color: rgb(241, 241, 248);
    border-top: none;
}

table#medias td:first-child, table#medias th:first-child {
     border-left: none;
}